<div class="container page-header">
    <h3>All Blogs</h3>
</div>
<div class="container">
    <ul *ngFor="let blog of blogs">
        <div class="row">
            <div class="col-xs-12">
                 <li>{{blog.blogName}}</li> 
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12">
                 <li> {{blog.tag}}</li>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <li>{{blog.content}}</li>  
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <li>{{blog.userName}}</li>   
            </div>
        </div>  
     </ul>
                           
</div>




       
  
